* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--cardbgcolor);
}

h1 {
    font-family: 'Palanquin Dark';
    font-weight: 700;
    font-size: 40px;
}

h2 {
    font-weight: 700;
    font-size: 40px;
}

h3 {
    font-weight: 600;
    font-size: 24px;
}

.landing-section {
    height: 100vh;
    position: relative;
}

.landing-picture {
    width: 100%;
    height: 50%;
    background-image: url(../assets/imgs/bg_landing.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.teste {
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;

    top: calc(50% - 50px);
    left: calc(50% - 50px);
}

nav{
width: 100%;
height: 40px;
background-color: var(--cardhdcolor);
}