* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: var(--mainbgcolor);
}

.landing-section {
    height: calc(100vh / 2);
    background-image: url(../assets/imgs/Backround_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}