* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--cardbgcolor);
}

h1 {
    font-family: 'Palanquin Dark';
    font-weight: 700;
    font-size: 40px;
}

h2 {
    font-weight: 700;
    font-size: 40px;
}

h3 {
    font-weight: 600;
    font-size: 24px;
}

.landing-section {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;

}

.landing-picture {
    width: 100%;
    height: 50%;
    background-image: url(../assets/imgs/bg_landing.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.landing-section-down{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--fontscolor);
}

.first{
    color: var(--fontscolor2);
}

.teste {
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 50%;

    top: calc(50% - 100px);
    left: calc(50% - 100px);
}

nav{
width: 100%;
height: 40px;
background-color: var(---cardhdcolor);
}


.footer{
    width: 100%;
    height: 128Px;
    background-color: var(--cardhdcolor);
}