.food-menus {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: 'Palanquin';
    flex: 1;
    min-width: 0;
}

.menu-categories{
    flex: 1;
    min-width: 0;
}

.menus-header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: var(--cardhdcolor);
    color: var(--fontscolor2);
    position: relative;
    isolation: isolate;
}

.menus-header::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;

    background-color: var(--cardhdcolor);
    box-shadow: 0 0 0 100vmax var(--cardhdcolor);
    clip-path: inset(0 -100vmax);
}

.section-menu {
    width: 100%;
    height: auto;
}

.menu-card {
    height: clamp(140px, 80%, 227px);
    max-width: 713px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #d4d4dc;
    font-family: 'Palanquin';
    background-color: var(--cardhdcolor);
    border-radius: 12px;
    border: 1px solid var(--fontscolor2);
    box-shadow: 0 0 0 2px var(--fontscolor2);
    gap: 10px;
    padding: 10px;
}

.meal-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
    padding: 23px 0 45px clamp(5px, 100%, 119px);
}

.picture {
    width: 207px;
    height: 121px;
    border-radius: 12px;
    background-color: blanchedalmond;
}

.product-content {
    width: 370px;
    height: 121px;
    display: flex;
    flex-direction: column;
    align-items: start;
    line-height: 1.2rem;
}

.product-content>p {
    padding-top: 17px;

}

.order-section {
    height: 121px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price {
    font-weight: 600;
    font-size: 24px;
}


/* <############### Warenkorb ############### */

.basket-overview-card {
    width: 100%;
    height: 794px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #feda6a;
    background-color: #393f4d;
    border: none;
    border-radius: 25px 0 0 25px;
    padding: 0 24px;

    position: sticky;
    top: 24px;
}

.basket-overview-card>h3 {
    width: 100%;
    height: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-basket-overview {
    width: 340px;
    height: 355px;
    display: flex;
    flex-direction: column;
    background-color: #1d1e22;
    left: 31px;
    top: 136px;
    border-radius: 25px;
    gap: 10px;
    overflow: auto;
    margin-bottom: 36px;
}

.section-sum-of-dishes-card {
    width: 100%;
    height: 30px;

    display: flex;
    justify-content: space-between;



}

.line {
    width: 100%;
    margin: 16px 0 15px 0;
}


/* <############### Warenkorb card ############### */

.basket-card {
    width: 340px;
    height: 103px;
    color: var(--cardhdcolor);
    background-color: var(--fontscolor2);
    border-radius: 20px;
    padding: 20px;
}

.basket-card-header {
    width: 100%;
    height: 28px;
}

.basket-card>p {
    width: 100%;
    text-align: end;
}

.basket-control-section {
    display: flex;
    justify-content: space-between;
}

.basket-control {
    display: flex;
    gap: 8px;
}

@media screen and (width < 1024px) {
    .order-section {
        width: 100%;
        height: 46px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (width < 899px) {
    .order-section {
        width: 100%;
        height: 46px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .menu-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        color: #d4d4dc;
        font-family: 'Palanquin';
        background-color: var(--cardhdcolor);
        border-radius: 12px;
        border: 1px solid var(--fontscolor2);
        box-shadow: 0 0 0 2px var(--fontscolor2);
        gap: 10px;
        padding: 10px;
    }

    .section-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menus-header>h3 {
        text-align: center;
    }

    .meal-card {
        padding: 0px 0 45px 0px;
    }
}